.video-card {
  width: 410px;
  height: auto;
  position: relative;
  border: 4px solid;
  margin-right: 20px;
  border-radius: 10px;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.video-image {
  width: 100%;
  height: calc(100% - 32px);
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
}

.video-controls {
  width: 100%;
  height: 32px;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

.video-control {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 800;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0 10px;
}

.video-control img {
  width: 25px;
  height: 28px;
  margin-right: 5px;
  padding: 2px;
  outline: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}
