.category {
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  
  .category h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .category {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    .category h2 {
      font-size: 24px;
    }
  }